<%= render 'shared/errors', obj: @student %>
<div class="container">
  <div class="row center card-top">
    <div class="col s12 m12 l12 ">
      <div class="card-panel">
        <h3 class="center-align">Editar</h3>
        <div class="row">
          <%= render partial: 'form', locals: {btn: "Salvar"} %>
        </div>
      </div>
    </div>
    s
  </div>
</div>
