<h1>Lista de cursos</h1>
<ul>
  <li>Codigo: C111</li>
  <li>Nome: Ciencia da Computação</li>
  <li>Descrição: Fala sobre computação</li>
</ul>
<ul>
  <li>Codigo: U111</li>
  <li>Nome: Ciencia da Computação</li>
  <li>Descrição: Fala sobre computação</li>
</ul>
