<% flash.each do |key,msg| %>
  <div class="row card-top "  id="fade-target">
    <div class="col s12 m12 l12 ">
      <div class="card-panel red lighten-2">
        <span class="white-text">
          <%= msg %>
        </span>
      </div>
    </div>
  </div>
<% end %>
